<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
    <title>Rave</title>
    <link rel="icon" type="image/png" href="/static/img/RaveLogoRRounded.png"/>
    <script>
        function submit(){
            var cpm = $("#cpm").val();
            var colors="";
            
            colorFields = $("input[name='color']");
            for(i=0;i<colorFields.length;i++){
                colors+=colorFields[i].value;
            }

            $.ajax({
                url:"createRoom",
                data:{
                    "cpm": cpm,
                    "colors": colors
                },
                success: function(res){
                    console.log(res);
                    location.href=res.room_number;
                }
            })
        }

        function join(){
            var room_number = $("#joinRoom").val();
            if(room_number==""||room_number==null){
                alert("Please enter a room number")
                return;
            }

            $.ajax({
                url:"joinRoom",
                data:{
                    "room_number": room_number
                },
                success: function(res){
                    if(res.success){
                        location.href=room_number;
                    }else{
                        alert("Room does not exist")
                    }
                }
            })
        }

        function addColor(){
            num_colors = $("input[name='color']").length +1
            $("#colorsDiv").append("<text id=\"color"+num_colors+"label\"><b>Color "+num_colors+" </b><input type=\"color\" id = \"color"+num_colors+"\"name=\"color\" value=\""+getRandomColor()+"\" style=\"float: right;\"/><br/>")
        }

        function removeColor(){
            //Don't do anything if there are only two colors
            num_colors = $("input[name='color']").length
            if(num_colors<=2){
                return;
            }

            $("#color"+num_colors).remove();
            $("#color"+num_colors+"label").remove();
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function assignColors(){
            colors = $("input[name='color']");
            for(i=0;i<colors.length;i++){
                colors[i].value=getRandomColor();
            }
        }
    </script>
</head>
<body onload="assignColors()">
<div class="container">
    <img src="/static/img/RaveLogoFull.png"\ style="width:40%;height:auto;display:block;margin-left:auto;margin-right:auto;">
    <h2>Start A Custom Rave</h2>
    <label for="cpm"><b>Color Changes per Minute:</b></label><input class="form-control input-sm" style="width:30%"type="number" value="100" id = "cpm"/>
    <br/>
    <div class="btn-group-sm">
        <button class="btn btn-primary" onclick="addColor()">Add Color</button>
        <button type="button" class="btn btn-primary" onclick="removeColor()">Remove Color</button>
    </div>
    <br/>
   <div id="colorsDiv"  style="width:20%">
        <text id="color1label"><b>Color 1 </b><input type="color" id="color1" name="color" style="float: right;"/>
        <br/>
        <text id="color2label"><b>Color 2 </b><input type="color" id="color2" name="color" style="float: right;"/>
        <br/>
    </div>
    <br/>
    <br/>
    <div class="alert alert-danger">
        <strong>Danger!</strong> Please be warned that this app can have rapidly changing colors.
        Please do not use if you are epileptic or have any sensitivity to changing colors.
    </div>
    <br/>
    <input type = "button" value="Rave!" class="btn btn-primary" onclick="submit()"/>
    
    <hr/>

    <h2>Join An Exisiting Rave</h2>
    <label for="cpm"><b>Room Number to Join:</b></label><input class="form-control input-sm" value="000000" style="width:30%"type="number" value="300" id = "joinRoom"/>
    <br/>
    <input type="button" class="btn btn-primary" value="Join!" onclick="join()"/>
</div>
<footer>
    <hr/>
    <text class="subtext">&nbsp&nbsp&nbsp<span>&#169</span> 2021 Nikhil Patel</text>
    <text style="float:right">&nbsp&nbsp&nbsp</text><a href='https://github.com/NikhilAPatel/RaveApp'><img style="float:right;width:25px;height:auto" src='/static/img/GitHub-Mark-120px-plus.png'/></a><text class="subtext" style="text-align:right;float:right;">See the code:&nbsp</text>
    <br/>
</footer>
</body>
</html>