<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
    <title>Rave</title>
    <script>
        function submit(){
            var cpm = $("#cpm").val();
            var colors="";
            
            colorFields = $("input[name='color']");
            for(i=0;i<colorFields.length;i++){
                colors+=colorFields[i].value;
            }

            $.ajax({
                url:"createRoom",
                data:{
                    "cpm": cpm,
                    "colors": colors
                },
                success: function(res){
                    console.log(res);
                    location.href=res.room_number;
                }
            })
        }

        function join(){
            var room_number = $("#joinRoom").val();
            if(room_number==""||room_number==null){
                alert("Please enter a room number")
                return;
            }

            $.ajax({
                url:"joinRoom",
                data:{
                    "room_number": room_number
                },
                success: function(res){
                    if(res.success){
                        location.href=room_number;
                    }else{
                        alert("Room does not exist")
                    }
                }
            })
        }

        function addColor(){
            num_colors = $("input[name='color']").length +1
            $("#colorsDiv").append("<text id=\"color"+num_colors+"label\"><b>Color "+num_colors+" </b><input type=\"color\" id = \"color"+num_colors+"\"name=\"color\" value=\""+getRandomColor()+"\"/><br/>")
        }

        function removeColor(){
            //Don't do anything if there are only two colors
            num_colors = $("input[name='color']").length
            if(num_colors<=2){
                return;
            }

            $("#color"+num_colors).remove();
            $("#color"+num_colors+"label").remove();
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function assignColors(){
            colors = $("input[name='color']");
            for(i=0;i<colors.length;i++){
                colors[i].value=getRandomColor();
            }
        }
    </script>
</head>
<body onload="assignColors()">
    <h2>Start A Custom Rave</h2>
    <text>Color Changes per Minute</text><input type="number" value="100" id = "cpm"/>
    <br/>
    <input type="button" id = "addColor" value="Add Color" onclick="addColor()"/>
    <input type="button" id = "removeColor" value="Remove Color" onclick="removeColor()"/>
    <div id="colorsDiv" >
        <text id="color1label"><b>Color 1 </b><input type="color" id="color1" name="color"/>
        <br/>
        <text id="color2label"><b>Color 2 </b><input type="color" id="color2" name="color"/>
        <br/>
    </div>
    <br/>
    <text>Please be warned that this app can have rapidly changing colors.<br/> Please do not use if you are epilectic or have any sensitivity to changing colors.</text>
    <br/>
    <input type = "button" value="Rave!" onclick="submit()"/>
    
    <hr/>

    <h2>Join An Exisiting Rave</h2>
    <text>Room Number to Join</text><input type="text" id="joinRoom"/>
    <br/>
    <input type="button" value="Join!" onclick="join()"/>
</body>
</html>