<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/js/instructions.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
    <script type="text/javascript" charset="utf-8">
        function init(){
            sessionStorage.setItem("hidden", "false");
            var url = window.location.href;
            url = url.substring(url.lastIndexOf("/")+1, url.length);
            sessionStorage.setItem("room_number", url);
            $("#roomNumber").html("&nbspRoom Number: "+url);
            rave(url);
        }

        async function rave(room_number){
            $.ajax({
                url:"rave",
                data:{
                    "room_number":  room_number
                },
                success: function(res){
                    console.log(res)
                    if(!res.success){
                        location.replace("/");
                        return;
                    }
                    
                    // Do the raving
                    dorave(res.colors, res.cpm, res.created)
                }
            })
        }
        async function dorave(colors, cpm, created){
            //ajaxupdater();
            while(true){
                console.log("doing rave")
                duration = (60/cpm)*1000
                currentdate = new Date();
                time_passed = currentdate-created;
                //Determine what color it should be right now
                index = time_passed%(duration*colors.length)
                index = parseInt(index/duration)
                document.body.style.background="#"+colors[index];

                await new Promise(r => setTimeout(r, 1));
            }
            
        }

        //function ajaxupdater(){
        //    $.ajax({
        //        url:"checkupdate",
        //        success: function(res){
        //            //console.log(res);
        //            ajaxupdater();
        //        }
        //    })
        //}

    </script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
    <title>Rave</title>
</head>
<body onload="init()">
    <div id="instructions" class="dropdown">
        <text id="roomNumber"></text>
        <text> | Press Spacebar To Toggle This Block &nbsp</text> 
        <br/>
        <input type="button" class="btn btn-info" value="Copy Invite Link" onclick="copylink()"/>
        <input type="button" class="btn btn-danger" value="End Rave" onclick="endRave()"/>
    </div>
    <script>
        document.addEventListener('keyup', event => {
            if (event.code === 'Space') {
                if(sessionStorage.getItem("hidden")=="true"){
                    unhide_instructions();    
                }else{
                    hide_instructions();
                }
            }
        })
    </script
</body>
</html>