<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket=io();
        var url = window.location.href;
        url = url.substring(url.lastIndexOf("/")+1, url.length)
        socket.on('connect', function(){
            socket.emit('join', {room_number: url});
        });
    </script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
    <title>Rave</title>
</head>
<body>
    <h2>Raving</h2>
</body>
</html>