<doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
	<title>Rave</title>
	<link rel="icon" type="image/png" href="/static/img/RaveLogoRRounded.png"/>
	<script>
		function start_spotify_rave(){
			$.ajax({
				url:"startSpotifyRave",
				success: function(res){
					console.log(res)
					sessionStorage.setItem("id", res.id)
					sessionStorage.setItem("room_number", res.room_number)
					sessionStorage.setItem("colors", res.colors);
					sessionStorage.setItem("cpm", res.cpm);
					sessionStorage.setItem("created", res.created);
					doRave();
                }
			})
		}

		async function doRave(){
			ajaxupdater();
			while(true){
				var cpm = sessionStorage.getItem("cpm");
				var colors = sessionStorage.getItem("colors").split(",");
				var created = sessionStorage.getItem("created")
                duration = (60/cpm)*1000
                currentdate = new Date();
                time_passed = currentdate-created;
                //Determine what color it should be right now
                index = time_passed%(duration*colors.length)
                index = parseInt(index/duration)
                document.body.style.background="#"+colors[index];

                await new Promise(r => setTimeout(r, 1));
            }
		}

		async function ajaxupdater(){
			await new Promise(r => setTimeout(r, 3000));
			$.ajax({
				url:"checkNewSong",
				data:{
					"id": sessionStorage.getItem("id"),
					"room_number": sessionStorage.getItem("room_number")
				},
				success: function(res){
					console.log(res);
					if(res.newSong){
						sessionStorage.setItem("colors", res.colors);
						sessionStorage.setItem("cpm", res.cpm);
						sessionStorage.setItem("id", res.id);
						sessionStorage.setItem("created", res.created);
					}
					ajaxupdater();
				}
			})
		}
	</script>
</head>
<body>
<div class="container">
	<input type="button" class="btn btn-primary" value="Get Currently Playing Song" onclick="currently_playing()"/>
	<br/>
	<text id="curplay"></text>
</div>
<script>
	window.onload = function() {
		// Starts the rave
		start_spotify_rave();
	};
</script>
<body>
</html>